%header
  %p チャットグループが作成されました。
.contents
  .sideBar
    .userProfile
      %h1.userProfile__name ユーザー名
      %ul.userProfile__icons
        %li<
          %a{href: '#'}
            %i.fa.fa-pencil-square-o
        %li<
          %a{href: '#'}
            %i.fa.fa-cog
    .userGroups
      .userGroups__group
        %h1 ナイスグループ
        %p 初めましてですか？
      .userGroups__group
        %h1 なんかのグループ
        %p 今月もよろしく
  .mainContent
    .groupProfile
    .groupChat


