%header
.contents
  = render '/layouts/side_bar'

  .mainContent
    .groupProfile
      .groupDetail
        %h1.groupDetail__name 日本自動車連合会
        %p.groupDetail__members 鈴木、本田、豊田、松田
      .groupButton
        %a.groupButton__edit{href: '#'} Edit
    .groupChat
      .chatMain
        .chatBox
          .chatBox__name
            %p 鈴木
          .chatBox__date
            %p 2007/10/01/ 07:30:12
          .chatBox__text
            %p リーマンショック
        .chatBox
          .chatBox__name
            %p 本田
          .chatBox__date
            %p 2007/10/01/ 07:35:12
          .chatBox__text
            %p リーマンショック
        .chatBox
          .chatBox__name
            %p 豊田
          .chatBox__date
            %p 2007/10/01/ 07:40:12
          .chatBox__text
            %p リーマンショック
      .postBox
        %form
          %input.postBox__text{name: 'text', placeholder: 'tyep a message'}
          .postBox__file
            %label
              %input{type:'file', style: 'display:none'}
              %i.fa.fa-picture-o.icon
          %button.postBox__button{type: 'submit'}
            Submit

