
.sideBar {
  width: 300px;
  background-color: #2f3e51;
  float: left;
  color:$white;

}

.userProfile {
  height: 100px;
  background-color: #253141;
  padding: 35px 20px 0 20px;
  &__name {
    display: inline-block;
    float: left;
    font-size: 16px;
    font-weight: bold;
  }
  &__icons {
    display: inline-block;
    float: right;
    li {
      float:left;
      padding-left: 5px;
      a{
      color: $white;
      }
    }
  }

}

.userGroups {
  height: calc(100vh - 100px);
  padding:20px 20px 0 20px;
}

.userGroup {
    padding-bottom: 40px;
    &__name {
      color: $white;
      font-size: 15px;
      text-decoration: none;
    }
    &__text {
      font-size:11px;
    }
}
