$here-blue: #38AEF0;

header {
  width: 100vw;
  text-align: center;
  background-color: $here-blue;
  padding:5px 0;
  color:white;
}

.contents {
  height: 600px;
  width: 100%;
  background-color: black;
}

.sideBar {
  height: 100%;
  width: 300px;
  background-color: #2f3e51;
  float: left;
  color:#FFFFFF;

}

.userProfile {
  height: 100px;
  background-color: #253141;
  padding: 35px 20px 0 20px;
}

.userGroups {
  height: calc(100% - );
  padding:0 20px;
}


.mainContent {
  height: 100%;
  width: calc(100vw - 300px);
  float: right;
  background-color: #FAFAFA;
}

.groupProfile {
  height: 100px;
  background-color: #FFF;
}

